= form_for [@group, @message] do |f|
  .message
    .message-form
      .message-form__text
        = f.text_field :content, class: 'form__message', placeholder: 'メッセージを入力してください', autocomplete: 'off'
      .message-form__submit
        = f.submit '送信', class: 'form__submit'

.messages
  = render @messages