.footer
  .footer__home
    = link_to root_path do
      %i.material-icons home
  .footer__group
    %i.material-icons group
  .footer__todo
    %i.material-icons calendar_today
  .footer__event
    %i.material-icons schedule