.header
  .header__title
    %h1 Schedule
  - if user_signed_in?
    .header__logout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  - else
    .header__sign-up
      = link_to "アカウント作成", new_registration_path(resource_name), class: 'btn'
    .header__sign-in
      = link_to "ログイン", new_session_path(resource_name), class: 'btn'