.event
  .event-new
    .event-new__btn
      = link_to 'スケジュールを作成', new_event_path, class: "new-btn"
    .todo-new__btn
      = link_to 'ToDoリストを作成', new_todo_path, class: "new-btn"
    .todo-index__btn
      = link_to 'ToDoリスト', '/todos/', class: "index-btn"
    .groups-new__btn
      = link_to 'グループを作成', new_group_path, class: "groups-btn"

  .calendar
    #calendar

