.event-show
  .event-show__title
    = @event.title
  .event-show__description
    = @event.description
  .event-show__start_date
    %h2 開始時間
    = l @event.start_date, format: :short
  .event-show__end_date
    %h2 終了時間
    = l @event.end_date, format: :short