.todo
- @todos.each do |todo|
  .todo__title
    = todo.title
  .todo__description
    = todo.description
  .todo_image
    = image_tag('memo.png')
  = link_to "削除する", "todos#destroy" , method: :delete, class: "delete-btn"
