.wrap
  .board
    - @todos.each do |todo|
      .todo__image
        = image_tag'memo.png'
        .todo__image__title
          = todo.title
        .todo__image__description
          = todo.description
        .todo__image__destroy
          = link_to '削除', todo, method: :delete, data: { confirm: '削除しますか？' }