.task{
  margin:100px;
}
.calendar{
  margin:100px;
  h2{
    font-size: 34px ;
    text-decoration: none;
  }
}

.fc-sun{
  color: red;
  background-color: #fff0f0;
}

.fc-sat {
  color: blue;
  background-color: #f0f0ff;
}