.event-new{
  margin: 100px;
  &__btn{
    background-color: rgb(43, 43, 128);
    border-radius: 10px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    .new-btn{
      color: #ffffff;
      text-decoration: none;
    }
  }
}