.event-new{
  background: linear-gradient(#05FBFF, #1E00FF);
  height: 1000px;
  width: 100%;
  padding: 20px;
  &__btn{
    background-color: rgb(43, 43, 128);
    border-radius: 10px;
    height: 40px;
    width: 200px;
    display: inline-block;
    .new-btn{
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;
      right: 30px;
      text-align: center;
      line-height: 2.5em;
    }
  }
  .new-event{
    height: 700px;
    width: 700px;
    background: radial-gradient(#F2B9A1, #EA6264);
    color: #fff;
    padding: 25px;
    box-shadow: 15px 15px 3px rgba(0,0,0,.2);
    border-radius: 20px;
    margin: 100px auto;
    &__title{
      margin: 20px;
      h1{
        margin-bottom: 10px;
      }
    }
    &__description{
      margin: 20px;
      h1{
        margin-bottom: 10px;
      }
      .description-form{
        width: 100%;
        resize: vertical;
        text-indent: 0.7rem;
        font-size: 20px;
      }
    }
    &__start_date{
      margin: 20px;
      display:  inline-block;
      h1{
        margin-bottom: 10px;
        display:  inline-block;
        margin-right: 5px;
      }
      .start_date-form{
        height: 35px;
        margin-right: 5px;
        background-color: #ffffff;
      }
      #event_start_date_4i{
        margin-left: 5px;
      }
      #event_start_date_5i{
        margin-left: 5px;
      }
    }
    &__end_date{
      margin: 20px;
      display:  inline-block;
      h1{
        margin-bottom: 10px;
        display:  inline-block;
        margin-right: 5px;
      }
      .end_date-form{
        height: 35px;
        margin-right: 5px;
        background-color: #ffffff;
      }
      #event_end_date_4i{
        margin-left: 5px;
      }
      #event_end_date_5i{
        margin-left: 5px;
      }
    }
    &__address{
      margin: 20px;
      &__prefecture{
        margin-top: 20px;
        h2{
          display: inline-block;
          margin-right: 10px;
        }
        .address-form__prefecture{
          display: inline-block;
          background-color: #ffffff;
          height: 40px;
          width: 150px;
        }
      }
      &__city{
        margin-top: 20px;
        h3{
          display: inline-block;
          margin-right: 25px;
        }
        .address-form__city{
          display: inline-block;
        }
      }
    }
    &__submit-btn{
      border-radius: 10px;
      height: 60px;
      width: 300px;
      margin: 60px auto 10px auto;
      .new-btn{
      color: #ffffff;
      background: linear-gradient(-135deg, #E4A972, #9941D8);
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;
      right: 30px;
      text-align: center;
      line-height: 2.5em;
      cursor: pointer;
      }
    }
  }
}

