.todo-index__btn{
  background-color: rgb(43, 43, 128);
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin: auto;
  display: inline-block;
  .index-btn{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    right: 30px;
    text-align: center;
    line-height: 2.5em;
  }
}

.board{
  background-image: url("board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .todo__image{
    margin: 80px 80px 0 80px;
    position: relative;
    &__title{
      position: absolute;
      top: 50px;
      left: 160px;
      font-size: 30px;
    }
    &__description{
      position: absolute;
      top: 100px;
      left: 25px;
      font-size: 20px;
    }
    &__destroy{
      position: absolute;
      top: 300px;
      left: 35px;
      font-size: 20px;
      
    }
  }
}
