.wrap2{
  background: linear-gradient(#05FBFF, #1E00FF);
  min-height: 100%;
  padding: 130px 0 130px 0;
  min-width: 100%;
  .group{
    margin: 100px;
    &__name{
      color: white;
      font-size: 25px;
      background: radial-gradient(#F2B9A1, #EA6264);
      display: inline;
      margin: 20px 0 20px 0;
      padding: 5px;
      border-radius: 10px;
    }
  }
}